<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cu.entumovil.informationmodule">

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:exported="true"
            android:theme="@style/theme"
            android:name=".UI.Activities.InformationActivity"
             />
        <activity
            android:exported="true"
            android:theme="@style/theme"
            android:name=".UI.Activities.AboutActivity"
             />
        <activity
            android:exported="true"
            android:name=".UI.Activities.FeedBackActivity"
            android:theme="@style/theme"
             />
        <activity android:name=".UI.Activities.RobotoActivity"></activity>
    </application>

</manifest>