<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cu.entumovil.snb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apk"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="Instantiatable"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ActivityLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.admin.DetailsUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActivityEditUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.ListVendor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.CreateUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.ListUserBlocked"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.CreateJewel"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.BuyAdminDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.Admin"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.admin.SalesHistorical"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ActivityListUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActivitySalesDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActivityListCatalog"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActivityProfileUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".service.NetworkReceiver"
            android:enabled="false"
            android:exported="false"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>