<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cu.entumovil.snb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SNBApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_apk"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:exported="true"
            android:name=".ui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AlexGoldLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.PremiumActivity"
            android:label="@string/title_activity_premium"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.GameDetailsActivity"
            android:label="@string/title_activity_game_details"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.TeamActivity"
            android:label="@string/title_activity_team"
            android:screenOrientation="portrait"
            android:theme="@style/TeamTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.GameDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NewsDetailsActivity"
            android:label="@string/title_activity_news_details"
            android:parentActivityName=".ui.activities.NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.NewsActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PlayerActivity"
            android:label="@string/title_activity_player"
            android:parentActivityName=".ui.activities.TeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.TeamActivity" />
        </activity>
        <activity
            android:name=".ui.activities.StatsActivity"
            android:label="@string/title_activity_stats_single"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeStats">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.LifetimeActivity"
            android:label="@string/title_activity_lifetime"
            android:parentActivityName=".ui.activities.PremiumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePremium">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.PremiumActivity" />
        </activity>
        <activity
            android:name=".ui.activities.HistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.LeadersActivity"
            android:label="@string/title_activity_leaders"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppThemeLeaders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.RecordActivity"
            android:label="@string/title_activity_record"
            android:parentActivityName=".ui.activities.PremiumActivity"
            android:theme="@style/AppThemePremium">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cu.entumovil.snb.ui.activities.PremiumActivity" />
        </activity>
        <receiver android:name=".service.NetworkReceiver"
            android:label="NetworkConnection"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>